body {
    text-align: center;
    background-color: #83F6E3;
    margin-top: 0;
}

.allDocument {
    width: 800px;
    height: 100%;
    background: #84BEEB;
    margin-left: auto;
    margin-right: auto;
}

.tableInput {
    width: 600px;
    background: #65CD8E;
    margin-left: auto;
    margin-right: auto;
}

.tableOutput {
    width: 600px;
    background: #84CD65 ;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tdThOutput {
    text-align: left; /* Выравнивание по left */
    padding: 3px; /* Поля вокруг текста */
    border: 2px solid black;
}

TH {
    background: #378118; /* Цвет фона */
}


H2 {
    margin-top: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.button {
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

.select:hover {
    background: #f3bd48;
}